@font-face {
    font-family: 'm6x11plus';
    src: url('m6x11plus.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'm6x11plus';
    text-shadow: #000 2px 2px 2px;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    z-index: -1;
    pointer-events: none;
}

main {
    text-align: center;
    color: white;
    padding: 1rem;
    width: min(90rem, 100%);
    margin: 1rem auto;
    font-size: 1.5rem;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    left: 60px;
    bottom: 10px;
}

.switch_words {
    position: relative;
    right: 33px;
    top: 10px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.square .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 4px;
}


.square .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 0;
}

.square input:checked+.slider {
    background-color: #4caf50;
}

.square input:checked+.slider:before {
    transform: translateX(30px);
}

button {
    border: 2px solid #555555;
    border-radius: 4px;
    color: #555555;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
}

button:hover {
    border: 2px solid #ece087;
    border-radius: 9px;
    color: #8e8a6b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
}

#correct_answer {
    color: rgb(60, 179, 113);
}

.align {
    margin: auto;
    width: 20%;
}

#elem_circle {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 1px solid #acd6ff;
    background-image: radial-gradient(#ffffe6, #fff74f);
    margin: auto;
}

#elem_input_circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #b2b2ae;
    position: relative;
    left: 60px;
}

#elem_right_input_circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #eaeada;
    position: relative;
    left: 110px;
    bottom: 50px;
}

#elem_bottom_input_circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffff00;
    position: relative;
    margin: auto;
    bottom: 5px;
}

input {
    position: relative;
    top: 10px;
}